# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

reports/
*.html

.env/
venv/
ENV/
env/
*.venv

#config/*.yaml
#config/*.json

*.log

.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

*.egg-info/
*.lock

*.tmp
*.bak
*.swp

.github/workflows/*.log

.env
config/secrets.yaml

setup.sh